:root {
    --accent-color: #ff6c00;
    --title-color: #ffffff;
    --second-titlr-color: #303030;
    --primery-text-color: #555555;
    --list-color: #9DA4BD;
}

body {
    color: var(--primery-text-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.list {
    list-style: none;
}


.link,
.current {
    text-decoration: none;
}

/*-----------------------header*/

.header {
    background-color: #4E4F4A;
}

.header-item,
.header-tel {
    color: var(--title-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.header-item:focus,
.header-item:hover {
    color: var(--accent-color);
}

button {
    color: var(--title-color);
    border-color: var(--accent-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
}

/*---------------------hero соц мережі*/

.hero {
    background-color: #4E4F4A;
}

.hero-link {
    color: var(--second-titlr-color);
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.hero-link:focus,
.hero-link:hover {
    color: var(--accent-color);
}

/*------------------- collective*/

.pre-title {
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*---------------------hero*/

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
}


.hero-title {
    color: var(--title-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero-text {
    color: var(--list-color);
}

/* -----------------------about*/

.about-pre-title {
    color: var(--second-titlr-color);
}

.about-tytle {
    color: var(--second-titlr-color);
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em
}

/* ---------------------prices*/

.prices {
    color: var(--list-color);
    background-color: #4E4F4A;
}

.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--title-color);
}

.prices-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.prices-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* ---------------------benefit*/

.benefit {
    color: var(--second-titlr-color);
}

.benefit-nunber {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
}

.benefit-text {
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
}

.benefit-power {
    color: var(--accent-color);
}

.benefit-after-title {
    color: var(--primery-text-color);
}

/* -------------------------barbers*/

.barbers {
    color: var(--second-titlr-color);
    background-color: gray;
}

.barbers-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
}

.barbers-text {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
}

/*--------------------------gallery*/

.gallery {
    color: var(--second-titlr-color);
}

/*-------------------------------booking*/

.booking {
    background-color: #4E4F4A;
}

.booking-title {
    color: var(--title-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/*-------------------------------contacts*/

.contacts {
    background-color: #4E4F4A;
}

.contacts-title {
    color: var(--title-color);
    font-family: 'Raleway', sans-serif;
}

.contacts-address {
    color: var(--list-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.contacts-link {
    color: var(--list-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.contacts-subtitle {
    color: var(--title-color);
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contacts-text {
    color: var(--list-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}