:root {
  --accent-color: #ff6c00;
  --title-color: #ffffff;
  --second-titlr-color: #303030;
  --primery-text-color: #555555;
  --list-color: #9da4bd;
}

body {
  color: var(--primery-text-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/*------------------- collective*/

.pre-title {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link,
.current {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/*-----------------------header*/

.header {
  background-color: #4e4f4a;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  column-gap: 30px;
}

.header-item,
.header-tel {
  padding-top: 50px;
  padding-bottom: 50px;

  color: var(--title-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-item:focus,
.header-item:hover {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
  text-align: center;

  border: 1px solid var(--accent-color);

  color: var(--title-color);
  background-color: rgba(54, 25, 25, 0.00004);
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
}

.button-secondary {
  isplay: inline-block;
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
  border: 1px solid var(--accent-color);

  color: var(--second-titlr-color);
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-align: center;
}

.after-nav-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.after-nav-list .after-nav + .after-nav {
  margin-left: 45px;
}

.after-nav-list .after-nav:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------hero соц мережі*/

.hero-logo {
  margin-right: 100px;
}

.hero-content {
  padding: 272px 100px 206px 100px;
  flex-grow: 1;
 
  background-image: linear-gradient(
    rgba(25, 28, 38, 0.2),
    rgba(25, 38, 27, 0.2)
  ),
  url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: rgba(25, 28, 38);
}

.hero-list {
  width: 100px;
}

.hero-link {
  color: var(--second-titlr-color);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-link:focus,
.hero-link:hover {
  color: var(--accent-color);
}

.hero .container {
  display: flex;
}

/*---------------------hero*/

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;

  color: var(--title-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-text {
  max-width: 360px;

  color: var(--list-color);
}

/* -----------------------about*/

.about-list {
  display: flex;
  column-gap: 30px;
}

.about-pre-title {
  margin-bottom: 20px;

  color: var(--second-titlr-color);
}



.about-tytle {
  margin-bottom: 20px;
  width: 500px;

  color: var(--second-titlr-color);
}

.about-after-tytle {
  margin-bottom: 20px;
  width: 500px;
}

.about-text {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about .container {
  display: flex;
  column-gap: 30px;
}

.about-content {
  max-width: 470px;
}

/*---------------------prices*/



.prices {
  color: var(--list-color);
  
  background-image: url(../images/img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1600px;
  background-color: #171A24;
}

.prices-list:nth-child(1){
  background-image: linear-gradient(
    180deg, 
    #171A24 0%,
     rgba(23, 26, 36, 0.2) 100%);

}

.prices-list:nth-child(2){
  background-image: linear-gradient(
    180deg, 
    #090B13 0%, 
    rgba(9, 11, 19, 0.2) 100%);
}

.prices-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;

  color: var(--title-color);
}

.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.prices-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.prices-list {
  padding: 30px 40px;
  width: calc((100% - 15px) / 2);
  margin-right: -15px;
  margin-left: -15px;
}

.prices-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-button {
  display: block;
  margin: 0 auto;
  margin-top: 62px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

/* ---------------------benefit*/

.benefit {
  padding-top: 121px;
  padding-bottom: 130px;

  color: var(--second-titlr-color);
}

.benefit-item {
  padding: 20px 24px;

  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
}

.benefit-nunber {
  letter-spacing: 0.05em;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
}

.benefit-text {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.benefit-power {
  color: var(--accent-color);
}

.benefit-pre-title {
  margin-bottom: 20px;
}

.benefit-title {
  margin-bottom: 20px;

  width: 420px;
}

.benefit-after-title {
  color: var(--primery-text-color);
  width: 500px;
}

.benefit-wrap {
  width: 500px;
  margin-top: 130px;
  margin-right: 70px;
  margin-bottom: 230px;
}

.benefit .container {
  display: flex;
}

.benefit-box {
  width: 370px;
  margin: 120px 100px;
}

.benefit-list {
  display: flex;
  flex-wrap: wrap;
}

.benefit-second {
  margin-top: 35px;
  margin-left: 30px;
}

.benefit-list .top {
  margin-bottom: 30px;
}


/* -------------------------barbers*/

.barbers {
  color: var(--second-titlr-color);
  background-color: #f7f7f7;
}

.barbers-list {
  display: flex;
}

.barbers-list .barbers-item + .barbers-item {
  margin-left: 30px;
}

.barbers-pre-title {
  margin-bottom: 20px;
}

.barbers-title {
  margin-bottom: 44px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.barbers-text {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.barberd-wrap {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.barbers-title-img {
  margin-bottom: 8px;
  text-align: center;
}




/*--------------------------gallery*/

.gallery {
  color: var(--second-titlr-color);
}

.gallery-list {
  display: flex;
}

.gallery-list .gallery-item + .gallery-item {
  margin-left: 30px;
}

.gallery-pry-tytle {
  margin-bottom: 44px;
}



/*-------------------------------booking*/

.booking {
  background-color: #4e4f4a;
}

.booking-title {
  color: var(--title-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/*-------------------------------contacts*/

.contacts {
 
  background-color: #4e4f4a;
}

.contacts-title {
  margin-bottom: 40px;

  color: var(--title-color);
  font-family: 'Raleway', sans-serif;
}

.contacts-address {
  color: var(--list-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-link,
.contacts-tel {
  color: var(--list-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-item-address {
  margin-bottom: 20px;
}

.contacts-item-tel {
  margin-bottom: 20px;
}

.contacts-item-mail {
  margin-bottom: 70px;
}

.contacts-subtitle {
  margin-bottom: 20px;

  color: var(--title-color);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contacts-text {
  color: var(--list-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-unicode {
}

a[href='#'] {
  margin-bottom: 40px;
}
